{% load static %}
{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div data-aos="fade" >
        <br>
    </div><br><br><br><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="servicios" class="service-details section">

      <div class="container">

        <div class="row gy-5">



          <div  class="col-lg-9 ps-lg-6" data-aos="fade-up" data-aos-delay="100">
<div style="width:100%;height:500px;" data-fillout-id="{{ clases_apoyo.enlace_formulario_c_apoyo }}" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>
                  </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">

            <div style="border-radius: 15px" class="service-box">
              <h4>Servicios</h4>
              <div class="services-list">
                <a style="border-radius: 15px" href="#" ><i class="bi bi-arrow-right-circle"></i><span>Cursillo VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/residencia"><i class="bi bi-arrow-right-circle"></i><span>Residencia VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/serviceye/"><i class="bi bi-arrow-right-circle"></i><span>Young Engineers</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/becas/" ><i class="bi bi-arrow-right-circle"></i><span>Cursillo Becas Gobierno PY</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/apoyo/" class="active"><i class="bi bi-arrow-right-circle"></i><span>Clases de Apoyo VIBE</span></a>
                  <a style="border-radius: 15px" href="#"><i class="bi bi-arrow-right-circle"></i><span>Librería VIBE</span></a>
              </div>
            </div><!-- End Services List -->

            <div style="border-radius: 15px" class="service-box">
              <h4>Descargá el programa de estudio</h4>
              <div class="download-catalog">
                <a href="https://drive.google.com/uc?export=download&id={{ clases_apoyo.enlace_programa_c_apoyo }}"><i class="bi bi-filetype-pdf"></i><span>Descargar Programa</span></a>
              </div>
            </div><!-- End Services List -->

            <div style="border-radius: 15px" class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Dudas o Consultas</h4>
                <p class="d-flex align-items-center mt-2 mb-0">
                  <i class="bi bi-telephone me-2"></i>
                  <a href="tel:+595972169723" style="text-decoration: none; color: inherit;">
                    +595 972 169 723
                  </a>
                </p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-whatsapp me-2"></i> <a href="https://wa.link/jvs64k">Hablar por WhatsApp</a></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:informacion@vibe.com.py">informacion@vibe.com.py</a></p>
            </div>

          </div>


        </div>

      </div>

    </section>
      <!-- /Service Details Section -->


  </main>

 {% include "footer.html" %}