{% load static %}
{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div data-aos="fade" >
        <br>
    </div><br><br><br><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="servicios" class="service-details section">

      <div class="container">

        <div class="row gy-5">



          <div  class="col-lg-9 ps-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img style="max-width: 380px; display: block; margin: 0 auto;" src="{% static 'img/logo_cursillo_vibe_1.png' %}" alt="" class="img-fluid services-img"><br>
              <h2 style="text-align: center"><b>¿Estás listo para impulsar tu carrera universitaria?</b></h2><br>
            <h5 style="text-align: center">
              Con nuestro Cursillo Preparatorio de Ingreso para las carreras de:
            </h5><br>
                    <div class="container">
                      <div class="row ">
                        <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Ingeniería Civil</span></div>
                        <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Ingeniería en Electricidad</span></div>
                        <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Ingeniería en  Electrónica</span></div>
                        <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Ingeniería en Sistemas Informáticos</span></div>
                          <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Medicina</span></div>
                          <div class="col-lg-3 col-md-6 col-12"><i style="color:#ff4a17;" class="bi bi-check-circle"></i> <span>Odontología</span></div>
                      </div>
                    </div>


                          <!-- Services 2 Section -->
            <section id="services-2" class="services-2 section ">


              <div  class="container">

                <div  class="row gy-4">


                  <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div style="border-radius: 15px; text-align: center" class="service-item d-flex flex-column text-center align-items-center position-relative h-100">
                            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                              <i class="bi bi-ui-checks " style="font-size: 40px; color: #ff4a17; display: block;"></i>
                            </div>
                      <div>
                        <h1 style="color: #ff4a17; border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);"><a >01.</a></h1>
                          <h5 style="text-align: center; " ><a >Completá el formulario de inscripción </a></h5>

                      </div>
                        <div  class="d-flex mt-4" data-aos="fade-up" >
                        <a  style="text-transform: none;" href="#pricing" class="btn-get-started"><b style="font-size: 18px;">Inscribirme</b></a>
                    </div>
                    </div>
                  </div><!-- End Service Item -->

                    <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div style="border-radius: 15px; text-align: center" class="service-item d-flex flex-column text-center align-items-center position-relative h-100">
                            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                              <i class="bi bi-telephone-plus " style="font-size: 40px; color: #ff4a17; display: block;"></i>
                            </div>
                      <div>
                        <h1 style="color: #ff4a17; border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);"><a >02.</a></h1>
                          <h5 style="text-align: center; " ><a >Agendá una llamada de 15 minutos </a></h5>

                      </div>
                    </div>
                  </div><!-- End Service Item -->

                    <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div style="border-radius: 15px; text-align: center" class="service-item d-flex flex-column text-center align-items-center position-relative h-100">
                            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                              <i class="bi bi-clipboard-check " style="font-size: 40px; color: #ff4a17; display: block;"></i>
                            </div>
                      <div>
                        <h1 style="color: #ff4a17; border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);"><a >03.</a></h1>
                          <h5 style="text-align: center; " ><a >Evalúa tus conocimientos básicos a través de un quiz corto </a></h5>

                      </div>
                    </div>
                  </div><!-- End Service Item -->

                    <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div style="border-radius: 15px; text-align: center" class="service-item d-flex flex-column text-center align-items-center position-relative h-100">
                            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
                              <i class="bi bi-envelope-check " style="font-size: 40px; color: #ff4a17; display: block;"></i>
                            </div>
                      <div>
                        <h1 style="color: #ff4a17; border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);"><a >04.</a></h1>
                          <h5 style="text-align: center; " ><a >Recibirás un correo con los detalles para iniciar el programa </a></h5>

                      </div>
                    </div>
                  </div><!-- End Service Item -->


                </div>

              </div>

            </section><!-- /Services 2 Section -->
                          <!-- Pricing Section -->
            <section style="padding-top: 0px; padding-bottom: 0px;" id="planes" class="pricing section ">

              <!-- Section Title -->
              <div style="text-align: center; padding-bottom: 0px"  class="container section-title" data-aos="fade-up">
                  <h1 style="text-transform: none"><b>Invertí en tu futuro</b></h1>
                  <h5 >Aprovechá las promociones que tenemos para vos</h5>
              </div><!-- End Section Title -->

              <div  class="container" data-aos="zoom-in" data-aos-delay="100">

                <div  class="row gy-4 justify-content-center">
                    {% for cursillo_vibe in cursillo_vibe %}
                    <div class="col-lg-5 col-md-6">

                    <div class="pricing-item ">
                        <h2 style="text-align: center"><b>{{ cursillo_vibe.titulo }}</b></h2>
                      <h4><sup>₲</sup>{{ cursillo_vibe.precio }}<span> / {{ cursillo_vibe.tipo_de_pago }}</span></h4>
                      <ul >
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_1}}</h6></li>
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_2 }}</h6></li>
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_3 }}</h6></li>
                          <li><i class="bi bi-info-circle"></i> &nbsp;<h6> {{ cursillo_vibe.materias}}</h6></li>
                        <li><i class="bi bi-rocket-takeoff"></i> &nbsp;<h6> Inicio: {{ cursillo_vibe.fecha_de_inicio}}</h6></li>
                      </ul>
                        <div class="text-center"><a href="/cursillo_vibe/{{ cursillo_vibe.id}}" class="buy-btn" >Inscribirme <i class="bi bi-arrow-right"></i></a></div>

                    </div>

                  </div><!-- End Pricing Item -->
                    {% endfor %}


                </div>

              </div>

            </section><!-- /Pricing Section -->
                  </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">

            <div style="border-radius: 15px" class="service-box">
              <h4>Servicios</h4>
              <div class="services-list">
                <a style="border-radius: 15px" href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Cursillo VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/residencia"><i class="bi bi-arrow-right-circle"></i><span>Residencia VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/serviceye/"><i class="bi bi-arrow-right-circle"></i><span>Young Engineers</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/becas/"><i class="bi bi-arrow-right-circle"></i><span>Cursillo Becas Gobierno PY</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/apoyo/"><i class="bi bi-arrow-right-circle"></i><span>Clases de Apoyo VIBE</span></a>
                  <a style="border-radius: 15px" href="#"><i class="bi bi-arrow-right-circle"></i><span>Librería VIBE</span></a>
              </div>
            </div><!-- End Services List -->


            <div style="border-radius: 15px" class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Dudas o Consultas</h4>
                <p class="d-flex align-items-center mt-2 mb-0">
                  <i class="bi bi-telephone me-2"></i>
                  <a href="tel:+595972169723" style="text-decoration: none; color: inherit;">
                    +595 972 169 723
                  </a>
                </p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-whatsapp me-2"></i> <a href="https://wa.link/jvs64k">Hablar por WhatsApp</a></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:informacion@vibe.com.py">informacion@vibe.com.py</a></p>
            </div>

          </div>


        </div>

      </div>

    </section>
      <!-- /Service Details Section -->


  </main>

 {% include "footer.html" %}