{% load static %}

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">VIBE</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Juan Ángel Benítez e/ Silvio Pettirossi y Padre Molas</p>
            <p>Coronel Oviedo, Paraguay</p>
            <p class="mt-3"><strong>Teléfono:</strong> <span>+595 972 169 723</span></p>
            <p><strong>Email:</strong> <span>informacion@vibe.com.py</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

       <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Sobre Nosotros</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Nuestros Servicios</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Boletín Informativo</h4>
          <p>¡Suscríbete a nuestro boletín informativo y recibe las últimas novedades sobre nuestros productos y servicios!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Suscribirse"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">VIBE</strong> <span>Todos los Derechos Reservados.</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "vendor/aos/aos.js" %}"></script>
  <script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "vendor/purecounter/purecounter_vanilla.js" %}"></script>
  <script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
  <script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>

  <!-- Main JS File -->
  <script src="{% static "js/main.js" %}"></script>

</body>

</html>