{% load static %}
{% include "header.html" %}

  <main class="main">

    <!-- Hero Section -->
    <section id="portada" class="hero section dark-background">

      {% for portada in portada %}

          <img src="{% static "img/" %}{{ portada.imagen }}" alt="" data-aos="fade-in">

          <div class="container d-flex flex-column justify-content-center" style="padding-top: 120px;" >
              <h2 data-aos="fade-up" data-aos-delay="100" style="text-transform: none; "><b>{{ portada.titulo|linebreaksbr }}</b></h2>
              <p data-aos="fade-up" data-aos-delay="200" ><b>{{ portada.subtitulo }}</b></p>
            <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                <a style="text-transform: none;" href="#sobre_nosotros" class="btn-get-started"><b style="font-size: 18px;">Quiénes Somos &nbsp;</b> <b><i style="font-size: 18px;"  class="bi bi-arrow-right"></i></b></a>
                <!--<a href="{{ portada.link_video }}" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span><b style="font-size: 18px;">Ver Vídeo</b></span></a>-->
            </div>
          </div>
      {% endfor %}
    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="sobre_nosotros" class="about section">
       {% for about in about %}
      <div class="container" >

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h1><b>{{ about.titulo}}</b></h1><br>
            <img src="{% static "img/" %}{{ about.imagen }}" class="img-fluid rounded-4 mb-4" alt="">

              <div class="content ps-0 ps-lg-5">
              <ul>
                <li><i class="bi bi-shield-check"></i> <h4><b>Misión</b></h4></li>
                  <p>{{ about.mision}}</p>
                <li><i class="bi bi-eyeglasses"></i> <h4><b>Visión</b></h4></li>
                  <p>{{ about.vision }}</p>
                <li><i class="bi bi-check-circle"></i> <h4><b>Objetivos</b></h4></li>
              </ul>
              </div>
            <p>{{ about.texto_3 }}</p>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <h2 style="color: #ff4a17; text-align: justify">
                <b>{{ about.subtitulo }}</b>
              </h2><br>

              <p style="text-align: justify">
                    {{ about.texto_1 | linebreaksbr   }}
              </p>
                <p>{{ about.texto_2}}</p>

              <div class="position-relative mt-4">
                <img src="{% static "img/" %}{{ about.imagen_2 }}" class="img-fluid rounded-4" alt="">
                <a href="{{ about.enlace}}" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
        {% endfor %}

    </section><!-- /About Section -->

        <!-- Clients Section -->
    <section id="marcas" class="clients section light-background">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            {% for clients in clients %}

          <div class="col-xl-3 col-md-3 col-6 client-logo">
            <img src="{% static "img/" %}{{ clients.imagen }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

            {% endfor %}
        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- Services 2 Section -->
    <section id="metodologia" class="services-2 section ">

      <!-- Section Title -->
      <div style="text-align: center"  class="container section-title" data-aos="fade-up">
          <h1 style="text-transform: none"><b>Nuestra Metodología</b></h1>
          <h5 >Programa diseñado por expertos para maximizar tu desempeño en el examen de ingreso a ingeniería.</h5>
      </div><!-- End Section Title -->


      <div  class="container">

        <div  class="row gy-4">

            {% for metodologia in metodologia %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar4-week icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a class="stretched-link">{{ metodologia.item_1 }}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-person-video3 icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a class="stretched-link">{{ metodologia.item_2 }}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-clock icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a  class="stretched-link">{{ metodologia.item_3 }}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-list-check icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a  class="stretched-link">{{ metodologia.item_4}}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-people icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a  class="stretched-link">{{ metodologia.item_5 }}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-journal-check icon flex-shrink-0"></i>
              <div>
                <h4 class="title" ><a class="stretched-link">{{ metodologia.item_6}}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

            <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-megaphone icon flex-shrink-0"></i>
              <div>
                <h4 class="title" ><a class="stretched-link">{{ metodologia.item_7}}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->

            <div  class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="800">
            <div style="border-radius: 15px" class="service-item d-flex position-relative h-100">
              <i class="bi bi-person-check icon flex-shrink-0"></i>
              <div>
                <h4 class="title" ><a class="stretched-link">{{ metodologia.item_8}}</a></h4>
              </div>
            </div>
          </div><!-- End Service Item -->
        {% endfor %}
        </div>

      </div>

    </section><!-- /Services 2 Section -->

      <!-- Services Section -->
    <section id="servicios" class="services section ">

      <!-- Section Title -->
      <div style="text-align: center" class="container section-title" data-aos="fade-up">
          <h1 style="text-transform: none"><b>Soluciones integrales para estudiantes y profesionales</b></h1>
          <h5 >Conviértete en un profesional destacado y lleva tus habilidades al siguiente nivel.</h5>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            {% for services in services %}
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img" style="box-shadow: 0px 0 25px rgba(0, 0, 0, 0.1);" >
                <img src="{% static "img/" %}{{ services.imagen }}" class="img-fluid " alt="" >
              </div>
              <div style="border-radius: 15px" class="details position-relative">
                <div class="icon">
                  <i class="bi bi-chevron-right"></i>
                </div>
                <a href="{{ services.enlace }}" class="stretched-link">
                  <h5 style="text-align: center"><b>{{ services.titulo}}</b></h5>
                </a>
                <!--<p>{{ services.descripcion}}</p>-->
              </div>
            </div>
          </div><!-- End Service Item -->

        {% endfor %}
        </div>


      </div>

    </section><!-- /Services Section -->

      <!-- Team Section -->
    <section id="equipo" class="team section light-background ">

      <!-- Section Title -->
      <div style="text-align: center" class="container section-title"  data-aos="fade-up">
          <h1><b>Conoce a nuestro equipo</b></h1>
          <h5>Nuestros profesores son expertos con años de
              experiencia.</h5>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
            {% for equipo in equipo %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div style="border-radius: 15px" class="pic"><img src="{% static "img/" %}{{ equipo.imagen }}" class="img-fluid" alt=""></div>
              <div style="border-radius: 15px" class="member-info">
                <h4>{{ equipo.nombre}}</h4>
                <span>{{ equipo.cargo}}</span>
                <div class="social">
                  <a href="{{ equipo.enlace }}"><i class="bi bi-instagram"></i></a>
                  <a href="{{ equipo.enlace_1 }}"><i class="bi bi-whatsapp"></i></a>
                  <a href="{{ equipo.enlace_2 }}"><i class="bi bi-facebook"></i></a>
                    <a href="{{ equipo.enlace_3 }}"><i class="bi bi-twitter-x"></i></a>
                  <a href="{{ equipo.enlace_3 }}"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->
            {% endfor %}

        </div>

      </div>

    </section><!-- /Team Section -->


    <!-- Stats Section -->
    <section id="resultados" class="stats section  ">
            <!-- Section Title -->
      <div style="text-align: center"  class="container section-title" data-aos="fade-up">
          <h1 style="text-transform: none"><b>Resultados</b></h1>
          <h5 >Impacto tangible en la preparación para el ingreso al mundo universitario.</h5>

      </div><!-- End Section Title -->

      {% for stats in stats %}
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div style="border-radius: 15px" class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-check2-circle color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ stats.numero_de_ingresantes }}" data-purecounter-duration="1" class="purecounter"></span>
                <h4>Ingresantes a Ingeniería</h4>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div style="border-radius: 15px" class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-text color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ stats.numero_examenes_de_ingreso }}" data-purecounter-duration="1" class="purecounter"></span>
                <h4>Exámenes de Ingreso</h4>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div style="border-radius: 15px" class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-clock-history color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ stats.numero_horas_de_clase }}" data-purecounter-duration="1" class="purecounter"></span>
                <h4>Horas de Clases</h4>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div style="border-radius: 15px" class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="{{ stats.numero_miembros_de_equipo }}" data-purecounter-duration="1" class="purecounter"></span>
                <h4>Miembros del Equipo</h4>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
        {% endfor %}

    </section><!-- /Stats Section -->

      <!-- Pricing Section -->
    <section id="planes" class="pricing section light-background" >

            <!-- Section Title -->
      <div style="text-align: center; padding-bottom: 0px"  class="container section-title" data-aos="fade-up" >
          <h1 style="text-transform: none"><b>¿Estás listo para impulsar tu carrera universitaria?</b></h1>
          <h5 >Elige el plan ideal de VIBE para ti e impulsa tu carrera profesional.</h5>

      </div><!-- End Section Title -->

      <div class="container " data-aos="zoom-in" data-aos-delay="100"  >

        <div class="row g-4 justify-content-center  ">
            {% for cursillo_vibe in cursillo_vibe %}

          <div class="col-lg-4 col-md-6  ">
            <div class="pricing-item " >
                        <h2 style="text-align: center"><b>{{ cursillo_vibe.titulo }}</b></h2>
                      <h4><sup>₲</sup>{{ cursillo_vibe.precio }}<span> / {{ cursillo_vibe.tipo_de_pago }}</span></h4>
                      <ul >
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_1}}</h6></li>
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_2 }}</h6></li>
                        <li><i class="bi bi-check"></i> &nbsp;<h6> {{ cursillo_vibe.beneficio_3 }}</h6></li>
                          <li><i class="bi bi-info-circle"></i> &nbsp;<h6> {{ cursillo_vibe.materias}}</h6></li>
                        <li><i class="bi bi-rocket-takeoff"></i> &nbsp;<h6> Inicio: {{ cursillo_vibe.fecha_de_inicio}}</h6></li>
                      </ul>
                        <div class="text-center"><a href="/cursillo_vibe/{{ cursillo_vibe.id}}" class="buy-btn" >Inscribirme <i class="bi bi-arrow-right"></i></a></div>

                    </div>
          </div><!-- End Pricing Item -->
        {% endfor %}
        </div>

      </div>

    </section><!-- /Pricing Section -->

      <!-- Testimonials Section -->
    <section id="testimonios" class="testimonials section ">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h1><b>Testimonios</b></h1>
            <h5>
              Contamos con una trayectoria comprobada gracias a nuestra metodología y preparación especializada.
            </h5><br><br>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div style="border-radius: 15px" class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div  class="swiper-wrapper">
                  {% for testimonials in testimonials %}

                <div  class="swiper-slide">
                  <div  class="testimonial-item text-center">
                    <div class="d-flex justify-content-center align-items-center">
                      <img src="{% static "img/" %}{{ testimonials.imagen }}" class="testimonial-img flex-shrink-0" alt="">
                      <div style="text-align: justify">
                        <h3>{{ testimonials.nombre}}</h3>
                        <p style="text-transform: none; font-style: normal;"><b>{{ testimonials.puesto }}</b></p>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p >
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span >{{ testimonials.testimonio}}</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
                  {% endfor %}

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Recent Posts Section -->
    <section id="noticias" class="recent-posts section light-background">

      <!-- Section Title -->
      <div style="text-align: center"  class="container section-title" data-aos="fade-up">
          <h1> <b>Últimas Noticias</b></h1>
        <h5>Te contamos todo lo que hacemos y aprendemos dentro de la empresa.</h5>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          {% for articulos in articulos %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="{% static "img/" %}{{ articulos.imagen }}" alt="" class="img-fluid">
              </div>

              <p class="post-category"><b>{{ articulos.categoria_1.nombre }}</b></p>

              <h2 class="title">
                <a href="/noticias/{{ articulos.id }}">{{ articulos.titulo}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-date">
                    <time datetime="2022-01-01"><i class="bi bi-calendar4-event"></i>  <b>{{ articulos.fecha }}</b></time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
            {% endfor %}

        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->


    <!-- Contact Section -->
    <section id="contacto" class="contact section">

      <!-- Section Title -->
      <div style="text-align: center" class="container section-title" data-aos="fade-up">
          <h1><b>Estamos a un mensaje de distancia.</b></h1>
          <h5>Siempre que quieras puedes escribirnos, sin embargo es posible que tu respuesta esté en nuestras <a href="http://127.0.0.1:8000/preguntas_frecuentes/">preguntas frecuentes.</a></h5>
      </div><!-- End Section Title -->

      <div  class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">
                {% for contacto in contacto %}

                <style>.map-container{position:relative;width:100%;height:200px;border-radius:15px;overflow:hidden;} .map-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;border-radius:15px;border:0;} @media (max-width: 768px){.map-container{height:200px;}}</style>

                <div class="col-lg-12">
                  <div style="border-radius: 15px; overflow: hidden; padding: 20px; text-align: center;" class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Dirección</h3>
                    <p style="text-align: center; margin-bottom: 10px;">{{ contacto.direccion}}</p>
                    <div class="map-container">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d900.6856339198823!2d-56.438596688796444!3d-25.446869826762484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945ee91a8782c12d%3A0x557b1eae3070d59!2sHH36%2B5RQ%2C%20Curupayty%2C%20Cnel.%20Oviedo%20050106!5e0!3m2!1ses-419!2spy!4v1739235297537!5m2!1ses-419!2spy" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>
                </div>


              <div class="col-md-6">
                <div style="border-radius: 15px" class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-whatsapp"></i>
                  <h3>WhatsApp</h3>
                  <p><a href="{{ contacto.whatsapp }}" style=" color: inherit;">
                      {{ contacto.telefono}}
                  </a></p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div style="border-radius: 15px" class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email </h3>
                  <p><a href="mailto:{{ contacto.email}}" style=" color: inherit;">{{ contacto.email}}</a></p>
                </div>
              </div><!-- End Info Item -->
            {% endfor %}
            </div>
          </div>

          <div class="col-lg-6">
            <form style="border-radius: 15px" action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div style="width:100%;height:500px;" data-fillout-id="tpkjv1pGBQus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

{% include "footer.html" %}