{% load static %}
{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div data-aos="fade" >
        <br>
    </div><br><br><br><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="servicios" class="service-details section">

      <div class="container">

        <div class="row gy-5">



          <div  class="col-lg-9 ps-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img style="max-width: 380px; display: block; margin: 0 auto;" src="{% static 'img/lib1.png' %}" alt="" class="img-fluid services-img"><br>
              <h2 style="text-align: center"><b>¡Prepárate para el semestre con los mejores útiles! </b></h2><br>
            <h5 style="text-align: center">
              ¡Haz tu pedido y recibe todo en la comodidad de tu hogar!
            </h5><br>

    <!-- Recent Posts Section -->
    <section id="services" class="recent-posts section " style="padding-top: 0px; padding-bottom: 0px;">


      <div class="container">

        <div class="row gy-4">
          {% for libreria in libreria %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="{% static "img/" %}{{ libreria.imagen }}" alt="" class="img-fluid">
              </div>
                <h2 class="title">
                {{ libreria.nombre_producto}}
              </h2>

              <h4 ><sup>₲</sup>{{ libreria.precio }}</h4><br>



              <div class="d-flex align-items-center">
                <div class="post-meta portfolio-details">
                    <a href="{{libreria.enlace_whatsapp}}" class="btn-visit align-self-start"><i style="color: white; text-align: center" class="bi bi-bag-check"></i> Comprar Ahora </a>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
            {% endfor %}

        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->
                  </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">

            <div style="border-radius: 15px" class="service-box">
              <h4>Servicios</h4>
              <div class="services-list">
                <a style="border-radius: 15px" href="#" ><i class="bi bi-arrow-right-circle"></i><span>Cursillo VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/residencia"><i class="bi bi-arrow-right-circle"></i><span>Residencia VIBE</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/serviceye/"><i class="bi bi-arrow-right-circle"></i><span>Young Engineers</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/becas/"><i class="bi bi-arrow-right-circle"></i><span>Cursillo Becas Gobierno PY</span></a>
                <a style="border-radius: 15px" href="http://127.0.0.1:8000/apoyo/"><i class="bi bi-arrow-right-circle"></i><span>Clases de Apoyo VIBE</span></a>
                  <a style="border-radius: 15px" href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Librería VIBE</span></a>
              </div>
            </div><!-- End Services List -->


            <div style="border-radius: 15px" class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <h4>Dudas o Consultas</h4>
                <p class="d-flex align-items-center mt-2 mb-0">
                  <i class="bi bi-telephone me-2"></i>
                  <a href="tel:+595972169723" style="text-decoration: none; color: inherit;">
                    +595 972 169 723
                  </a>
                </p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-whatsapp me-2"></i> <a href="https://wa.link/jvs64k">Hablar por WhatsApp</a></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:informacion@vibe.com.py">informacion@vibe.com.py</a></p>
            </div>

          </div>


        </div>

      </div>

    </section>
      <!-- /Service Details Section -->


  </main>

 {% include "footer.html" %}