{% load static %}

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="{% static "img/logo vibe orange 25.png" %}" alt="">
        <!--<h1 class="sitename">VIBE</h1>-->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul >
          <!--<li ><a href="#hero" class="active" style="text-transform: none; font-size: 16px;">Inicio</a></li>-->
          <li><a href="#metodologia" style="text-transform: none; font-size: 16px;">Como Trabajamos</a></li>
          <li><a href="#servicios" style="text-transform: none; font-size: 16px;">Nuestros Servicios</a></li>
          <li  class="dropdown"><a href="#equipo" style="text-transform: none; font-size: 16px;"><span>Comunidad</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul style="border-radius: 15px">
              <li><a href="#equipo">Nuestro Equipo</a></li>
              <li><a href="#resultados">Resultados</a></li>
              <li><a href="#testimonios">Testimonios</a></li>
            </ul>
          </li>
            <li><a href="#planes" style="text-transform: none; font-size: 16px;">Planes</a></li>
            <li><a href="#noticias" style="text-transform: none; font-size: 16px;">Noticias</a></li>
          <li><a href="#contacto" style="text-transform: none; font-size: 16px;">Contacto</a></li>
        </ul>
        <i style="color: #ff8404" class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

        <a class="cta-btn " href="/" style="text-transform: none; font-size: 16px;"><b>Unite Ahora </b></a>


    </div>
  </header>