{% load static %}
{% include "header.html" %}

  <main class="main">
                  <!-- Page Title -->
    <div class="page-title  " data-aos="fade" style="padding-bottom: 0px" >
      <div class="container position-relative">
        <h1>Noticias</h1>
        <h5>Te contamos todo lo que hacemos y aprendemos dentro de la empresa.</h5>
      </div>
    </div><!-- End Page Title -->


    <!-- Blog Posts Section -->
    <section id="noticias" class="blog-posts section" style="padding-top: 0px" >


      <div class="container">
        <div class="row gy-4">
            {% for articulos in articulos %}
          <div class="col-lg-4">

            <article>


              <div class="post-img">
                <img src="{% static "img/" %}{{ articulos.imagen }}" alt="" class="img-fluid">
              </div>
              <p class="post-category">{{ articulos.categoria_1.nombre }}</p>
              <h2 class="title">
                <a href="/noticias/{{ articulos.id }}">{{ articulos.titulo }}</a>
              </h2>

              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-date">
                      <time datetime="2022-01-01"><i class="bi bi-calendar4-event"></i>  {{ articulos.fecha }}</time>
                  </p>
                </div>
              </div>

            </article>

          </div><!-- End post list item -->
        {% endfor %}


        </div>
      </div>

    </section><!-- /Blog Posts Section -->

<!-- Blog Pagination Section -->
<section id="blog-pagination" class="blog-pagination section">
  <div class="container">
    <div  class="d-flex justify-content-center">
      <ul >
        <!-- Enlace de página anterior -->
        {% if articulos.has_previous %}
          <li ><a style="border-radius: 15px" href="?page=1"><i class="bi bi-chevron-left"></i></a></li>
        {% else %}
          <li  class="disabled"><span><i class="bi bi-chevron-left"></i></span></li>
        {% endif %}

        <!-- Enlaces de páginas numeradas -->
        {% for num_pagina in articulos.paginator.page_range %}
          {% if articulos.number == num_pagina %}
            <li><a style="border-radius: 15px" href="?page={{ num_pagina }}" class="active">{{ num_pagina }}</a></li>
          {% else %}
            <li><a style="border-radius: 15px" href="?page={{ num_pagina }}">{{ num_pagina }}</a></li>
          {% endif %}
        {% endfor %}

        <!-- Enlace de página siguiente -->
        {% if articulos.has_next %}
          <li><a style="border-radius: 15px" href="?page={{ articulos.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
        {% else %}
          <li class="disabled"><span><i class="bi bi-chevron-right"></i></span></li>
        {% endif %}
      </ul>
    </div>
  </div>
</section><!-- /Blog Pagination Section -->


  </main>

{% include "footer.html" %}